# Node
.idea
.vscode
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
package-lock.json
dist
dist-ssr
*.local
/src/admin/dist
/src/frontend/dist
/src/style/dist
.env
.env.*
!.env.production
!.env.staging
/assets/js/*.mjs
/assets/js/*.wasm
*.hot-update.js
*.hot-update.json
*.LICENSE.txt
[a-zA-Z0-9_-]+.hot-update.js
[a-zA-Z0-9_-]+.hot-update.json
assets/css/[0-9]*.css
assets/js/[0-9]*.js
