<?xml version="1.0"?>
<ruleset name="All Sign Customizer for WooCommerce Pro">
	<description>WordPress coding standards baseline for the plugin PHP code.</description>

	<file>all-signs-customizer-for-woocommerce-pro.php</file>
	<file>includes</file>

	<exclude-pattern>includes/tcpdf/*</exclude-pattern>
	<exclude-pattern>includes/asowp-*.php</exclude-pattern>
	<exclude-pattern>includes/ascwo-*.php</exclude-pattern>

	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />

	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg name="parallel" value="8" />
</ruleset>