/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/pages/configurateur/Default/index.vue?vue&type=style&index=0&id=5ab70054&scoped=true&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/

.ascwo-hide[data-v-5ab70054]{
        display: none;
}
.flipper[data-v-5ab70054] {
        position: relative;
        /* width: 100%;
        height: 100%; */
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
}
.flipper-switch[data-v-5ab70054] {
        transform: rotateY(180deg);
}
#ascwo-sign-recto[data-v-5ab70054], #ascwo-sign-verso[data-v-5ab70054] {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
#ascwo-sign-recto[data-v-5ab70054] {
        /* background-color: #bbb; */
        color: black;
}
#ascwo-sign-verso[data-v-5ab70054] {
        /* background-color: dodgerblue; */
        color: white;
        transform: rotateY(180deg);
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/pages/configurateur/Couffo/index.vue?vue&type=style&index=0&id=77962a27&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/

.animated-bg[data-v-77962a27] {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 100%; /* Initialement hors de l'écran à droite */
        animation: slideIn-77962a27 2s forwards; /* Animation de 2 secondes */
}
.flipper[data-v-77962a27] {
        position: relative;
        /* width: 100%;
        height: 100%; */
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
}
.flipper-switch[data-v-77962a27] {
        transform: rotateY(180deg);
}
#ascwo-sign-recto[data-v-77962a27], #ascwo-sign-verso[data-v-77962a27] {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
#ascwo-sign-recto[data-v-77962a27] {
        /* background-color: #bbb; */
        color: black;
}
#ascwo-sign-verso[data-v-77962a27] {
        /* background-color: dodgerblue; */
        color: white;
        transform: rotateY(180deg);
}
@keyframes slideIn-77962a27 {
to {
            left: 0; /* Se déplace vers la gauche pour atteindre la position normale */
}
}

/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/frontend/scss/frontend.scss ***!
  \**************************************************************************************************************************/
:root {
  --ascwo-scrollBar-color: #000000;
}

.ascwo-configurator-container {
  height: 100vh;
  min-height: 100vh;
}

.ascwo-configurator-container:empty {
  height: 0;
  min-height: 0;
}

.ascwo-templates-customize_button {
  color: white;
  text-decoration: none;
}

.ascwo-frontend-app p,
#ascwo-frontend-app p {
  margin: 0 !important;
}
.ascwo-frontend-app .no-scrollbar::-webkit-scrollbar,
#ascwo-frontend-app .no-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: auto;
}
.ascwo-frontend-app .ascwo-scrollBar::-webkit-scrollbar,
#ascwo-frontend-app .ascwo-scrollBar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  overflow: scroll;
}
.ascwo-frontend-app .ascwo-scrollBar::-webkit-scrollbar-thumb,
#ascwo-frontend-app .ascwo-scrollBar::-webkit-scrollbar-thumb {
  background-color: var(--ascwo-scrollBar-color);
  border-radius: 20px;
}
.ascwo-frontend-app .ascwo-base-animation,
#ascwo-frontend-app .ascwo-base-animation {
  transition-property: all;
  transition-duration: 500ms;
}
.ascwo-frontend-app .ascwo-buttons-rad-none,
#ascwo-frontend-app .ascwo-buttons-rad-none {
  border-radius: 0px !important;
  border: 0px;
}
.ascwo-frontend-app .ascwo-full-center,
#ascwo-frontend-app .ascwo-full-center {
  justify-content: center !important;
  align-items: center !important;
  /* white-space: nowrap; */
}
.ascwo-frontend-app .ascwo-option-buton,
#ascwo-frontend-app .ascwo-option-buton {
  width: fit-content;
  height: 90%;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
}
.ascwo-frontend-app .ascwo-new-border,
#ascwo-frontend-app .ascwo-new-border {
  border: solid 1px !important;
}
.ascwo-frontend-app .ascwo-inputImage,
#ascwo-frontend-app .ascwo-inputImage {
  /* ascwo-text-md  */
  display: flex !important;
  padding: 8px 14px 8px 14px !important;
  border-radius: 9999px !important;
  cursor: pointer !important;
}
.ascwo-frontend-app .ascwo-inputImage svg,
.ascwo-frontend-app .ascwo-inputImage p,
#ascwo-frontend-app .ascwo-inputImage svg,
#ascwo-frontend-app .ascwo-inputImage p {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

#ascwo-showPreview {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.ascwo-text-size {
  padding: 0 !important;
  height: 100% !important;
  margin: 0 !important;
  text-align: center;
}

.ascwo-inputColor-hide {
  width: 0px !important;
  height: 0px !important;
}

.ascwo-scrollDiv {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.ascwo-disabled-div {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
  -webkit-user-select: none;
  cursor: not-allowed;
}
