/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[8].use[0]!./src/frontend/pages/configurateur/Couffo/index.vue?vue&type=style&index=0&id=77962a27&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/

.animated-bg[data-v-77962a27] {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 100%; /* Initialement hors de l'écran à droite */
        animation: slideIn-77962a27 2s forwards; /* Animation de 2 secondes */
}
.flipper[data-v-77962a27] {
        position: relative;
        /* width: 100%;
        height: 100%; */
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
}
.flipper-switch[data-v-77962a27] {
        transform: rotateY(180deg);
}
#asowp-sign-recto[data-v-77962a27], #asowp-sign-verso[data-v-77962a27] {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
#asowp-sign-recto[data-v-77962a27] {
        /* background-color: #bbb; */
        color: black;
}
#asowp-sign-verso[data-v-77962a27] {
        /* background-color: dodgerblue; */
        color: white;
        transform: rotateY(180deg);
}
@keyframes slideIn-77962a27 {
to {
            left: 0; /* Se déplace vers la gauche pour atteindre la position normale */
}
}

