/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/global/scss/style.scss ***!
  \*********************************************************************************************************************/
@charset "UTF-8";
table.wp-list-table #is_aso_customizable {
  width: 90px; }

td.is_aso_customizable.column-is_aso_customizable {
  font-weight: 600;
  font-size: 15px; }

#toplevel_page_aso .wp-menu-image {
  position: relative !important;
  text-align: unset !important;
  margin: 0 3px 0 3px !important; }

#toplevel_page_aso .wp-menu-image img {
  position: absolute !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important; }

.config-page-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px 15px !important;
  color: #f80606 !important;
  box-shadow: 0px 0px 5px 0px #444040 !important;
  margin: 0 0 10px;
  font-weight: 800; }

.aso-notice-nux {
  background: #e7f5f9;
  display: flex;
  align-items: center; }

.aso-notice-nux .aso-icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  margin: 20px 17px 20px 5px;
  flex-shrink: 0; }

.aso-notice-nux h2 {
  font-size: 13.5px !important;
  font-weight: 600 !important; }

.aso-notice-nux .aso-icon img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 12px;
  box-sizing: border-box;
  max-width: 100%; }

.aso-product-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px; }

.aso-product-links .aso-cart-product-preview,
.aso-product-links a {
  text-decoration: none !important;
  background-color: gray;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  cursor: pointer !important; }

.aso-custom-options-info {
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: solid 0px transparent;
  border-left: solid 0px transparent;
  border-top: solid #afadad 2px;
  padding: 10px 0 10px 5px;
  gap: 10px; }

.aso-custom-options-info label {
  font-size: medium;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; }

.aso-custom-options-info .aso-cart-color-option {
  width: 50px;
  height: 50px; }

.aso_config_data div {
  padding: 5px !important;
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important; }

.aso_config_data div h2 {
  color: #141414 !important;
  font-weight: 500 !important; }

.aso_config_data div select {
  background-color: rgba(238, 237, 240, 0.872) !important;
  padding: 5px !important; }

.aso-grid {
  display: grid !important;
  gap: 10px !important; }

.aso-col {
  border: 1px solid #ccc;
  /* Ajoutez une bordure pour distinguer les éléments */
  padding: 10px;
  /* Ajoutez un peu d'espacement interne pour le contenu */ }

.single-product .summary.entry-summary > .aso-buttons-wrap-simple,
.single-product .summary.entry-summary > .aso-buttons-wrap-variation {
  display: none; }

